body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1A4D2E;
    padding: 10px 0;
    text-align: center;
}

h1.naslov {
    color: #F5EFE6;
    margin: 0;
}

nav.menu {
    background-color: #4F6F52;
    padding: 10px 0;
    text-align: center;
}

nav.menu a {
    text-decoration: none;
    color: #F5EFE6;
    margin: 0 15px;
    font-weight: bold;
}

.forma-container {
    text-align: center;
}

.forma {
    width: 15%;
    margin: 20px auto;
    padding: 20px;
    background-color: #E8DFCA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forma label {
    display: block;
    margin-bottom: 5px;
}

.forma input,
.forma select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forma .submit-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.forma .submit-button:hover {
    background-color: #cc0000;
}

main {
    padding-bottom: 60px;
}
h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #E8DFCA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li div:first-child {
    margin-bottom: 10px;
}

ul li div strong {
    color: #1A4D2E;
}

ul li div small {
    color: #4F6F52;
}

ul li div:last-child {
    text-align: right;
}

.button_crveni {
    background-color: #EF0107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button_crveni:hover {
    background-color:#DA291C;
}
.button_zeleni {
    background-color: #00AD83;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button_zeleni:hover {
    background-color: #50C878;
}

footer {
    background-color: #4F6F52;
    color: #F5EFE6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hero-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
