<!DOCTYPE html>
<html>
    <head>
        <title>Online konzultacije</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        
    </head>
    <body>
        <h1 class="naslov">Online konzultacije FIPU</h1>
        <div class="menu">
            <a href="prijava.html">Prijavi termin</a>
            <a href="edit.html">Editiraj termin</a>
            <a href="delete.html">Izbriši termin</a>
            <a href="pregled.html">Pregled termina</a>
        </div>
        <footer> Luka Catela ®️</footer>
    </body>
</html>
